<h2>Edit <%= 'user'.to_s.humanize %></h2>



<%= form_for(current_user, url: registration_path('user'), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>

  <div class="field">
    <%= f.label :profile_picture %><br>
    <%= f.file_field :profile_picture, autofocus: true, autocomplete: "profile_picture" %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <% if devise_mapping.confirmable? && current_user.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= current_user.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path('user'), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
